
/*padding and borders*/
* {
    box-sizing: border-box;
}
/*Default font, line spacing, and background colour.*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fdf5f5;
    color: #333;
}

/*footer and header*/
header, footer {
    background-color: #f8c8dc; /* Signature NinaCakes Pink */
    padding: 1.5rem;
    text-align: center;
    border-bottom: 2px solid #f2a2c0; /* Subtle divider for the header */
}

/*logo and branding*/
.logo {
    max-width: 120px;
    height: auto;
}
.site-title {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 10px 0;
    color: #a0522d; 
}

/*navigation link*/
nav ul {
    list-style: none; 
    padding: 0;
    display: inline-block;
    border: 1px solid #333;
}
nav ul li {
    display: block; 
    border-bottom: 1px solid #333;
}
nav ul li:last-child {
    border-bottom: none;
}

/*header*/
nav a {
    text-decoration: none; 
    color: #333;
    padding: 10px 40px;
    display: block;
}
nav a:hover, .active-page {
    background-color: #d2691e ;
    color: white; 
}

/*main content area*/
main {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
}

/*page sections*/
section {
    background: #ffffff;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

/*conact fields*/
.form-group {
    margin-bottom: 20px;
}
label {
    display: block; /* Puts label on its own line above the input */
    margin-bottom: 8px;
    font-weight: 600;
}
input, textarea, select {
    width: 100%; /* Makes inputs fill the container width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

/*buttons*/
button {
    background-color: #a0522d; /* Chocolate Brown */
    color: #ffffff;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover {
    background-color: #8b4513; /* Darker brown when hovered */
}

/*footer*/
footer {
    background-color: #f8c8dc; 
    padding: 2rem;
    text-align: center;
}
.socials {
    display: flex;           /* Forces the links to be horizontal */
    flex-direction: row;     /* Make them a row */
    justify-content: center; /* Centers the row on the page */
    gap: 30px;               /* Adds clean spacing between links */
    margin-top: 10px;
}
.socials a {
    text-decoration: none;
    color: #333;
    font-size: 0.9rem;
    font-weight: bold;
    display: inline;
}

.socials a:hover {
    color: #8b4513 !important; 
    text-decoration: underline; /* Visual clickable */
}

